body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(/images/freavian-banner2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.container
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	background: #fff;
	padding: 45px;
	box-sizing: border-box;
	border :1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.container h1
{
	text-align: center;
	margin: 0 0 40px;
	padding: 0;
	color: rgb(66,133,244);
	letter-spacing: 2px;
}
.container input
{
	padding: 5px;
	margin-bottom: 30px;
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
}