.contact {
    margin-top: 30px;
    text-align: center;
    background-image: url("../images/backgrounds/c_image.jpg");
    background-position: center;
    background-size: cover;
    background-color: black;
    width: 100%;
    text-align: center;
    opacity: 0.9;
    height: 70vh;
    color: white;
    padding-top: 2em;
}

.contact form {
    text-align: center;
    margin: auto;
    width: 70%;
}

.contact input {
    background: transparent;
    color: #fff;
}

.contact input::placeholder {
    color: #fff;
}

.contact textarea {
    background: transparent;
}

.contact textarea::placeholder {
    background: transparent;
    color: #fff;
}

.contact .row {
    margin-top: 1.5em;
}

#submit {
    border: 2px solid white;
    text-align: center;
    /* color: white; */
    width: 10%;
    margin: 1em 0;
    font-weight: bold;
}