* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right top, #74cfbf, #6cdbeb);

  footer {
   display: flex;
    flex-direction: block;
    justify-content: center;
}

.social-icons ul {
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
} 

.address-details p{
    display: flex;
    
    text-align: center;
}
